    <% const year = new Date().getFullYear() %>

    <footer id="journal-footer">
        <div class="footer-text">
            <p>Brought to you with ❤️ from Brazil.</p>
            <p>© <%= year %> My Journal. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
