<%- include("partials/header.ejs") %>

<main id="post-section">
    <div class="intro">
        <h1>Welcome, dear User!</h1>
        <p>Here you can see your posts and enter whatever you want.</p>
        <button id="create" class="btn">Create</button>
    </div>
    <!--The posts will be listed right after the intro section-->
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="./public/js/modal.js"></script>

<%- include("partials/footer.ejs") %>
